@import url(fonts.css);
@import url(icons.css);
@import url(labels.css);
/**
 * Common
 */
ul, li, p, h1, h2, h3, h4, h5, h6{
	padding: 0px;
	margin: 0px;
}
body{
	overflow-x: hidden;
}
*:focus{
	outline: none;
}
body, *{
	font-family: "Open Sans";
	font-weight: 400;
}
a{
	transition: all 0.2s ease-in;
}
a:hover{
	opacity: 0.7;
	text-decoration: none;
}
a.btn:hover{
	opacity: 1;
}
.v-middle > div{
	float: none;
	vertical-align: middle;
}
.inline{
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.text-right{
	text-align: right;
}
.btn{
	border: 1px solid rgb(217, 65, 65);
	display: inline-block;
	color: rgb(217, 65, 65);
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.btn.round{
	border-radius: 20px;
}
.btn.round.large{
	line-height: 38px;
	min-width: 170px;
}
.btn.red{
	background-color: rgb(217, 65, 65);
	color: #fff;
}
.btn.red:hover{
	background-color: transparent;
	color: rgb(217, 65, 65);
}
.btn:hover,
.btn:focus{
	color: #fff;
	text-decoration: none;
	background: rgb(217, 65, 65);
}
i.icon{
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
}
.dropdown-btn{
	position: relative;
	padding: 0px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: rgb(38, 38, 38);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.dropdown-btn:focus{
	outline: none;
}
.dropdown-btn:after{
	position: absolute;
	right: -20px;
	top: 50%;
	margin-top: -4.5px;
	content: " ";
	background: url(/img/drop_down.svg) no-repeat center;
	width: 12px;
	height: 9px;
}
.navbar-toggle{
	border-color: #c1c1c1;
	margin-top: 11px;
	margin-right: 0px;
}
.navbar-toggle .icon-bar{
	background: #c1c1c1;
}
.navbar-collapse{
	margin-top: 10px;
}
.navbar-nav > li > a{
	    color: #777;
}
.dropdown-style-1 > button{
	background: transparent;
	padding: 0px;
	border: none;
	color: rgb(38, 38, 38);
	font-size: 12px;
	font-weight: 700;
}
.dropdown-style-1 > button span.name{
	position: relative;
	margin-right: 34px;
}
.dropdown-style-1 > button span.name:after{
	position: absolute;
	width: 9px;
	background: url(../img/drop_down_small.svg) no-repeat center;
	height: 5px;
	content: " ";
	right: -18px;
	top: 50%;
	margin-top: -2.0px;
}
.dropdown-style-1 .dropdown-menu{
	margin-top: 21px;
	margin-left: -60px;
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	min-width: 200px;
	border-radius: 0px;
	padding: 0px;
}
.dropdown-style-1 .dropdown-menu > li > a{
	padding: 10px 20px;
	color: rgb(38, 38, 38);
	font-size: 14px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-weight: 400;
	position: relative;
}
.dropdown-style-1 .dropdown-menu > li > a:hover{
	background-color: rgb(242, 242, 242);
	opacity: 1;
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(238, 238, 238);
}
.dropdown-style-1 .dropdown-menu > li > a > .counter{
	position: absolute;
	color: rgb(217, 65, 65);
	font-size: 14px;
	font-weight: 700;
	right: 0px;
	top: 50%;
	right: 20px;
	margin-top: -10px;
}
.dropdown-style-1 .dropdown-menu > li > a span{
	color: rgb(217, 65, 65);
}
.dropdown-style-1 .divider{
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
/**
 * Header
 */
.header{
	background: #fff;
	width: 100%;
	border-bottom: 1px solid rgb(238, 238, 238);
	padding-top: 13px;
	padding-bottom: 13px;
}
.header__top{
	position: relative;
}
.header__top__menu > ul{
	text-align: right;
}
.header__top__menu > ul > li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.header__top__menu > ul > li > a{
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 400;
	line-height: 60px;
	text-transform: uppercase;
}
.header__top__menu > ul > li > a:hover{
	text-decoration: underline;
}
.header__top__user-bar > ul > li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.header__top__user-bar > ul > li:last-child{
	margin-right: 0px;
}
.header__top__user-bar > ul > li > a:not(.btn){
	color: rgb(38, 38, 38);
	font-size: 12px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
}
.header__top__user-bar > ul > li > a.red{
	color: rgb(217, 65, 65);
}
.header__top__lang{
	position: absolute;
	right: -40px;
	top: 50%;
	margin-top: -10px;
}
.lang-dropdown-menu{
	left: auto;
	right: -25px;
	min-width: 0px;
}
.header__top__search__input{
	border: 1px solid transparent;
	width: 100%;
	transition: all 0.3s ease-in;
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}
.header__top__search__input:focus{
	border-bottom-color: rgb(189, 189, 189);
}
.header__top__user__notification{
	position: relative;
	padding-right: 25px;
	margin-right: 20px;
	top: -3px;
	color: rgb(189, 189, 189);
	font-size: 11px;
	font-weight: 400;
}
.header__top__user__options{
	margin-right: 30px !important;
}
.header__top__user__notification:after{
	position: absolute;
	right: 0px;
	background: url(../img/bell_gray.svg) no-repeat center;
	content: " ";
	top: 50%;
	margin-top: -10px;
	width: 18px;
	height: 20px;
}
.header__top__user__notification__active{
	color: rgb(217, 65, 65);
}
.header__top__user__notification__active:after{
	background: url(../img/bell_red.svg) no-repeat center;
}
/**
 * Top Search
 */
.top-search-wrapper{
	border-bottom: 1px solid rgb(238, 238, 238);
}
.top-search{
	position: relative;
	padding-top: 14px;
	padding-bottom: 14px;
}
.top-search__form:before{
	position: absolute;
	left: 0px;
	content: " ";
	display: block;
	width: 147px;
	height: 48px;
	background: url(/img/logo.svg) no-repeat left center;
	background-size: contain;
	top: 50%;
	margin-top: -24px;
	left: -220px;
}
.top-search__form > *{
	display: inline-block;
	margin-right: -4px;
	vertical-align: middle;
}
.top-search__form label{
	color: rgb(38, 38, 38);
	font-size: 14px;
	font-weight: 600;
	width: 43.3%;
}
.top-search__form .top-search__form__input{
	width: 56%;
	position: relative;
}
.top-search__form input{
	height: 46px;
	background-color: white;
	border: 2px solid rgb(224, 224, 224);
	border-radius: 4px;
	text-align: center;
	color: rgb(38, 38, 38);
	box-sizing: border-box;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.1s linear;
	width: 100%;
}
.top-search__form .top-search__form__input:after{
	position: absolute;
	content: "Enter";
	text-transform: uppercase;
	position: absolute;
	right: 60px;
	top: 50%;
	margin-top: -8.5px;
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.top-search__form .top-search__form__input:before{
	position: absolute;
	content: " ";
	display: block;
	width: 19px;
	height: 18px;
	right: 25px;
	top: 50%;
	margin-top: -9px;
	background: url(/img/icon_search.svg);
}
.top-search__form input:focus{
	outline: none;
	border-color: rgb(217, 65, 65);
}
.top-search__city{
	width: 45%;
	text-align: center;
	vertical-align: middle;
}
.top-search__city .dropdown-btn:before{
	position: absolute;
	left: -30px;
	top: 50%;
	margin-top: -10px;
	background: url(/img/marker_icon.svg) no-repeat center;
	width: 14px;
	height: 20px;
	content: " ";
}
.top-search__popular-cities{
	width: 55%;
}
.top-search__popular-cities > ul > li{
	display: inline-block;
	margin-right: 10px;
}
.top-search__popular-cities > ul > li:last-child{
	margin-right: 0px;
}
.burger-menu{
	position: absolute;
	right: -50px;
	top: 50%;
	margin-top: -10px;
}
.burger-menu button{
	position: relative;
	padding: 0px;
	cursor: pointer;
	border: none;
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	background: transparent;	
}
.burger-menu button:after{
	content: ' ';
	display: block;
	background: url(/img/burger.svg);
	width: 18px;
	height: 12px;
	top: 50%;
	position: absolute;
	margin-top: -6px;
	right: -25px;
}

/**
 * Filters
 */
.filters-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.eat-categories ul > li{
	display: inline-block;
	margin-right: 2.5%;
}
.eat-categories ul > li:last-child{
	margin-right: 0px;
}
.eat-categories ul > li input{
	display: none;
}
.eat-categories ul > li label{
	border: 1px solid rgb(217, 65, 65);
	border-radius: 3px;
	line-height: 38px;
	color: rgb(38, 38, 38);
	text-align: center;
	max-width: 100%;
	min-width: 140px;
	padding-left: 24.5px;
	padding-right: 24.5px;
	display: block;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	line-height: 38px;
}
.eat-categories ul > li input[type="checkbox"]:checked + label{
	background: rgb(217, 65, 65);
	color: #fff;
}

/**
 * Footer
 */
.footer .footer-top{
	background-color: rgb(11, 14, 19);
	padding-top: 42px;
	padding-bottom: 40px;
}
.footer__block .footer__block__title{
	font-weight: 400;
	color: rgb(247, 190, 143);
	font-size: 14px;
	line-height: 20px;
	min-height: 40px;
	padding-bottom: 25px;
	box-sizing: border-box;
}
.footer__block__content{
	color: rgb(119, 125, 139);
	font-size: 12px;
	line-height: 26px;
}
.footer__block__content ul.footer__block__menu > li{
	display: inline-block;
	width: 50%;
	margin-right: -4px;
}
.footer__block__content ul.footer__block__menu > li > a{
	color: rgb(120, 126, 140);
	font-size: 12px;
}
.footer__block__content ul.footer__block__menu > li > a span{
	color: rgb(217, 65, 65);
}
.footer__block__socials > li{
	display: inline-block;
	margin-right: 7.5%;
	margin-top: 25px;
}
.footer__block__socials > li:last-child{
	margin-right: 0px;
}
.footer__block__socials > li > a{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(22, 28, 38);
	display: block;
}
.footer__block__socials > li > a i{
	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	margin: auto;
}
.footer-bottom{
	background-color: rgb(11, 13, 18);
}
.footer-bottom{
	border-top: 1px solid rgb(16, 18, 26);
	padding-top: 16px;
	padding-bottom: 16px;
}
.footer-bottom__menu ul{
	text-align: right;
	padding-right: 20px;
}
.footer-bottom__menu ul > li{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.footer-bottom__menu ul > li:after{
	content: "";
	display: block;
	content: "|";
	position: absolute;
	right: -5px;
	top: 50%;
	font-size: 12px;
	margin-top: -8px;
}
.footer-bottom__menu ul > li > a{
	color: rgb(87, 92, 102);
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
}
.footer-bottom__copyright{
	color: rgb(43, 46, 51);
	font-size: 12px;
	font-weight: 400;
}
.footer-bottom__menu ul > li:last-child:after{
	display: none;
}
/**
 * User menu
 */
.user-menu{
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.user-menu__ul > li{
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 25px;
}
.user-menu__ul > li:nth-child(6n){
	margin-right: 0px;
}
.user-menu__ul > li > a{
	display: block;
	line-height: 38px;
	min-width: 170px;
	text-decoration: none;
	text-align: center;
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 3px;
	color: rgb(38, 38, 38);
	font-size: 14px;
	font-weight: 600;
	position: relative;
}

.user-menu__ul > li > a > span{
	color: rgb(217, 65, 65);
	font-weight: 400;
}
.user-menu__ul > li > a > .counter{
	width: 25px;
	display: inline-block;
	color: rgb(217, 65, 65);
	font-size: 14px;
	font-weight: 700;
}
.user-menu__ul > li > a > .counter-gray{
	color: rgb(153, 153, 153);
}
.user-menu__ul > li.large > a{
	padding-left: 44px;
	line-height: 44px;
	padding-right: 44px;
}
.user-menu__ul > li.large__active > a{
	border-color: rgb(217, 65, 65);
}
.user-menu__ul > li > a > i{
	position: relative;
	top: 3px;
	margin-left: 14px;
}
.user-menu__ul > li.active > a{
	background-color: rgb(217, 65, 65);
	color: #fff;
	border-color: transparent;
}
.user-menu__ul > li.right{
	width: auto;
	text-align: right;
	float: right;
	position: relative;
	margin-top: 30px;
	margin-right: 6px;
}
.sort-drop-down button{
	background: transparent;
	border: none;
	padding: 0px;
	font-size: 12px;
	color: gray;
	font-weight: 400;
}
.sort-drop-down button span.red{
	color: rgb(217, 65, 65);
}
.sort-drop-down button .caret{
	border-top-color: rgb(217, 65, 65);
}
.sort-drop-down .dropdown-menu{
	left: auto;
	right: 0px;
}
/**
 * Infoblocks
 */
.infoblock-list{
	text-align: center;
	border-bottom: 1px solid rgb(238, 238, 238);
	margin-bottom: 40px;
}
.infoblock-list .infoblock{
	max-width: 370px;
	margin-bottom: 40px;
	display: inline-block;
	margin-right: 2.5%;
}
.infoblock{
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 2px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.infoblock .infoblock__image{
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
	border-radius: 2px 2px 0px 0px;
}
.infoblock .infoblock__image img{
	width: 100%;
	height: auto;
}
.infoblock .infoblock__icon-place{
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	position: relative;
	margin: auto;
	margin-top: -30px;
	margin-bottom: 15px;
}
.infoblock .infoblock__icon-place > i{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.infoblock .infoblock__title{
	text-align: center;
	color: rgb(38, 38, 38);
	font-family: "Roboto Slab";
	font-size: 21px;
	font-weight: 700;
	padding-bottom: 10px;

}
.infoblock .infoblock__description{
	color: rgb(77, 77, 77);
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 400;
}
.infoblock .infoblock__bottom{
	text-align: center;
}
span.red{
	color: rgb(217, 65, 65);
}
/**
 * Titles
 */
.black-title{
	color: rgb(38, 38, 38);
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 40px;

}
.black-title .right-span{
	float: right;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Open Sans";
	color: grey;
}
.black-title .right-span a{
	color: rgb(217, 65, 65);
}
/**
 * Dishes
 */
.dishes-list .dishes{
	margin-bottom: 20px;
}
.dishes{
	background: #fff;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 2px;
	padding-bottom: 19px;
}
.dishes .dishes__image{
	min-height: 335px;
	margin-bottom: 20px;
}
.dishes .dishes__image img{
	width: 100%;
	height: auto;
}
.dishes.disactive .dishes__image img{
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.dishes__panel{
	padding-left: 20px;
	padding-right: 20px;
}
.dishes__panel > div{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin-right: -4px;
}
.dishes__panel__name{
	color: rgb(38, 38, 38);
	font-family: "Roboto Slab";
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}
.dishes__panel__name > i{
	position: relative;
	margin-right: 10px;
	top: 2px;
}
.dishes__panel__options{
	text-align: right;
}
.dishes__panel__options > ul > li{
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}
a.edit-btn{
	position: relative;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 16px;
	padding-right: 11px;
	line-height: 30px;
	color: rgb(153, 153, 153);
	font-size: 11px;
	font-weight: 400;
	display: block;
	padding-left: 15px;
}
a.edit-btn > i{
	position: relative;
	margin-right: 9px;
	top: 2px;
}
.more-dropdown button{
	width: 32px;
	height: 32px;
	position: relative;
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 50%;
}
.more-dropdown > button > img{
	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	margin: auto;
}
.more-dropdown > button:focus{
	border-color: rgb(217, 65, 65);
}
.more-dropdown .dropdown-menu{
	left: -70px;
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 3px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	min-width: 170px;
}
.more-dropdown .dropdown-menu{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.more-dropdown .dropdown-menu > li > a{
	color: rgb(38, 38, 38);
	font-size: 12px;
	font-weight: 400;
}
.more-dropdown .dropdown-menu > li i.archive-icon{
	top: 3px;
}
.more-dropdown .dropdown-menu > li{
	margin-bottom: 19px;
}
.more-dropdown .dropdown-menu > li:last-child{
	margin-bottom: 0px;
}
.more-dropdown .dropdown-menu > li > a > i{
	position: relative;
	margin-right: 11px;
	top: 1px;
}
.dishes .dishes__desc{
	margin-left: 20px;
	margin-right: 20px;
	color: rgb(77, 77, 77);
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	padding-top: 8px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.dishes .dishes__bottom{
	padding-left: 20px;
	padding-right: 20px;
}
.dishes .dishes__bottom > div{
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
	margin-top: 15px;
}
.dishes .dishes__bottom > div.dishes__bottom__tags{
	width: 70%;
}
.dishes__bottom__tags > ul > li{
	display: inline-block;
	margin-right: 10px;
}
.dishes .dishes__bottom__price{
	text-align: right;
	width: 30%;
	color: rgb(217, 65, 65);
	font-size: 14px;
	font-weight: 400;
}
.dishes .dishes__bottom__price strong{
	font-size: 21px;
	font-weight: 700;
}
.note{
	text-align: center;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.note img{
	margin-top: 40px;
}
.note .black-title{
	margin-bottom: 10px;
}
.note .text{
	color: grey;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.note .text a{
	color: rgb(217, 65, 65);
}

/**
 * FAQ
 */
.faq-single{
	margin-bottom: 50px;
}
.faq .faq__title{
	font-size: 14px;
	color: rgb(153, 153, 153);
	font-weight: 400;
	margin-bottom: 27px;
	line-height: 5px;
	border-bottom: 1px solid rgb(238, 238, 238);
	position: relative;
}
.faq .faq__title > span{
	padding-right: 83px;
	background: #fff;
	z-index: 999;
}
.faq .faq__content{
	padding-bottom: 46px;
	color: rgb(38, 38, 38);
	line-height: 16px;
	font-size: 14px;
	font-weight: 400;
}
.faq .faq__content a{
	color: rgb(217, 65, 65);
}

/**
 * Pagination
 */
.pagination > ul{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}
.pagination > ul > li{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	border: 1px solid transparent;
	color: rgb(38, 38, 38);
	font-size: 14px;
	font-weight: 700;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 28px;
}
.pagination > ul > li > a{
	color: rgb(38, 38, 38);
}
.pagination > ul > li.active{
	background-color: rgb(217, 65, 65);
	color: #fff;
}
.pagination > ul > li.pagination__prev{
	width: auto;
	margin-right: 40px;
}
.pagination > ul > li.pagination__next{
	width: auto;
	margin-left: 40px;
}
.pagination > ul > li.pagination__prev a,
.pagination > ul > li.pagination__next a{
	color: rgb(153, 153, 153);
	font-size: 12px;
	font-weight: 400;
}
.pagination > ul > li.pagination__disactive a{
	color: rgb(224, 224, 224);
}
.pagination > ul > li.pagination__prev,
.pagination > ul > li.pagination__next{
	position: relative;
}
.pagination > ul > li.pagination__next:after{
	position: absolute;
	right: -22px;
	content: " ";
	display: block;
	top: 50%;
	margin-top: -1px;
	background: url('../img/pagination_arrows.svg') no-repeat -258px 0;
	width: 11px;
	height: 5px;
}
.pagination > ul > li.pagination__next.pagination__disactive:after{
	background: url('../img/pagination_arrows.svg') no-repeat 0 0;
	transform: rotate(180deg);
}
.pagination > ul > li.pagination__prev:before{
	position: absolute;
	left: -22px;
	content: " ";
	display: block;
	top: 50%;
	margin-top: -1px;
	background: url('../img/pagination_arrows.svg') no-repeat -258px 0;
	transform: rotate(180deg);
	width: 11px;
	height: 5px;
}
.pagination > ul > li.pagination__prev.pagination__disactive:before{
	background: url('../img/pagination_arrows.svg') no-repeat 0 0;
	transform: rotate(0deg);
}
.pagination > ul > li:hover{
	border-color: rgb(217, 65, 65);
}
.pagination > ul > li.pagination__prev:hover,
.pagination > ul > li.pagination__next:hover{
	border-color: transparent;
}