@media (min-width: 220px) and (max-width: 760px) {
	.footer__block__menu > li:nth-child(2n){
		padding-left: 20px;
	}
	.footer__block .footer__block__title{
		padding-bottom: 10px;
		padding-top: 15px;
	}
	.footer .footer-top{
		padding-top: 21px;
		padding-bottom: 5px;
	}
	.footer__block__socials > li{
		margin-top: 0px;
		margin-right: 10px;
	}
	.footer-bottom__menu ul{
		text-align: left;
		display: none;
	}
	.v-middle > div{
		float: left;
	}
	.header__top__logo img{
		max-width: 100%;
		height: auto;
	}
	.top-search__form .top-search__form__input{
		width: 100%;
	}
	.top-search__form input{
		padding-left: 20px;
		text-align: left;
	}
	.top-search__form{
		margin-bottom: 15px;
	}
	.top-search__city{
		width: auto;
		margin-left: 30px;
	}
	.top-search__popular-cities{
		width: 100%;
	}
	.top-search__popular-cities{
		text-align: left;
		padding-top: 15px;
	}
	.top-search__form label{
		width: 100%;
		font-size: 13px;
	}
	.eat-categories ul > li{
		margin-right: 0.5%;
	}
	.eat-categories ul > li label{
		line-height: 36px;
		padding-left: 12px;
		padding-right: 12px;
		font-size: 13px;
	}
	.user-menu__ul > li{
		display: block;
		width: 100%;
		margin-right: 0px;
		margin-top: 10px;
	}
	.user-menu__ul > li > a{
		min-width: 100%;
	}
	.user-menu__ul > li.right{
		float: none;
		text-align: center;
	}
	.infoblock .infoblock__title{
		font-size: 18px;
	}
	.infoblock__icon-place{
		margin-bottom: 5px;
	}
	.black-title{
		margin-bottom: 20px;
		padding-top: 20px;
		font-size: 15px;
	}
	.dishes .dishes__image{
		min-height: 0px;
	}
	.dishes__panel > div{
		display: block;
		width: 100%;
		margin-right: 0px;
	}
	.dishes__panel__name{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.dishes__panel__options{
		text-align: left;
	}
	.dishes__panel__options > ul > li:first-child{
		margin-left: 0px;
	}
	.dishes .dishes__desc{
		padding-bottom: 5px;
	}
	.dishes .dishes__bottom > div{
		display: block;
		width: 100%;
		margin-right: 0px;
	}
	.dishes__bottom__price{
		text-align: left !important;
		width: 100%;
	}
	.dishes .dishes__bottom > div.dishes__bottom__tags{
		width: 100%;
	}
	.note .text{
		line-height: 20px;
	}
	.faq .faq__title{
		line-height: 16px;
		line-height: 20px;
		border-bottom: none;
		margin-bottom: 13px;
	}
	.faq-single{
		margin-bottom: 15px;
	}
	.faq-single .col-md-4{
		padding-bottom: 20px;
	}
	.faq .faq__content{
		line-height: 22px;
	}
	.faq .faq__title > span{
		padding-right: 0px;
	}
	.setting-group{
		margin-bottom: 20px;
	}
	.setting-group .setting-group__title{
		margin-bottom: 20px;
	}
	.setting-group__option__content > div{
		display: block;
		width: 100% !important;
		margin-right: 0px;
	}
	.setting-group__option-title{
		margin-bottom: 15px;
	}
	.setting-group__option__content__left{
		margin-bottom: 25px;
	}
	.setting-group__option__content > div.setting-group__option__content__right{
		text-align: center;
	}
	.setting-group__title__under{
		margin-top: 10px;
		line-height: 16px;
	}
	.setting-group__title__under br{
		display: none;
	}
	.setting-group__option__content > div.setting-group__option__content__left{
		font-size: 12px;
	}
	.approve-order-block .col-md-8{
		padding-right: 15px;
	}
	.approve-order-block .col-md-4{
		padding-left: 15px;
	}
	.dropdown-style-2 .dropdown-menu{
		margin-left: -80px;
	}
	.order__user_data__order-info span.red{
		padding-bottom: 8px;
	}
	.order__user-data__about__text{
		padding-bottom: 24px;
	}
	.dishes .dishes__desc-city > div{
		display: block;
		width: 100% !important;
		margin-right: 0px;
		text-align: left !important;
	}
	.dishes .dishes__desc-city > div.dishes__city{
		padding-top: 0px;
	}
	.title-has-line .right{
		padding-left: 0px;
		line-height: 16px;
		padding-top: 9px;
	}
	.approve-order-block__actions{
		margin-top: 20px;
	}
	.approve-order-block__actions .btn{
		margin-left: 0px;
		margin-top: 15px;
	}
}