@media (min-width: 761px) and (max-width: 1200px){
	.header__top__menu > ul > li{
		padding-right: 5px;
		padding-left: 5px;
	}
	.header__top__user-bar > ul > li{
		margin-right: 9px;
	}
	.header__top__lang{
		right: 30px;
	}
	.top-search__form{
		margin-bottom: 20px;
	}
	.top-search__form .top-search__form__input{
		width: 100%;
	}
	.top-search__city{
		text-align: left;
		padding-left: 30px;
		box-sizing: border-box;
	}
	.top-search__form:before{
		display: none;
	}
	.footer__block .footer__block__title{
		padding-bottom: 10px;
		padding-top: 15px;
	}
	.footer__block{
		margin-bottom: 40px;
	}
	.footer__block__socials > li{
		margin-right: 10px;
		margin-top: 5px;
	}
	.footer .footer-top{
		padding-bottom: 0px;
	}
	.footer-bottom__menu ul{
		padding: 0px;
	}
	.footer-bottom__menu ul > li{
		padding-right: 5px;
		padding-left: 5px;
	}
	.footer-bottom__menu ul > li > a{
		font-size: 11px;
	}
	.dishes .dishes__image{
		min-height: 0px;
	}
	.dishes__panel__name{
		font-size: 16px;
	}
	.dishes__panel__name > i{
		top: 5px;
	}
	.black-title{
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.user-menu__ul > li{
		margin-right: 5px;
	}
	.user-menu__ul > li.right{
		float: none;
	}
	
	.infoblock-list .infoblock{
		max-width: 300px;
	}
	.infoblock-list .infoblock:nth-child(2n){
		margin-right: 0px;
	}

}